
/*INNER PARALLAX SECTIONS (Except Intro Parallax)*/

.no-parallax{
	background-attachment: scroll !important;
}

.promotional{
	background: url('../images/promotional/bg.jpg.html') 0 0 no-repeat fixed;
	background-size: cover;
}

.testimonial{
	background: url('../images/testimonials/bg.jpg.html') 0 0 no-repeat fixed;
	background-size: cover;
}
.about-head{
	background: url('../images/head/02.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}
.works1-head{
	background: url('../images/head/01.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}
.works2-head{
	background: url('../images/head/05.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}
.news-head{
	background: url('../images/head/05.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}
.credits-head{
	background: url('../images/head/01.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}
.clients-head{
	background: url('../images/head/03.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}
.awards-head{
	background: url('../images/head/04.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}
.contact-head{
	background: url('../images/head/05.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}


